/* Variables
 =========================================*/

$font-headers:'Clicker Script', cursive;
$font-body:'EB Garamond', serif;

$clr-links:#47588C; // 49BFB3; // #5C6FA5
$clr-headers:#593D36;
$clr-lightbrown:#A67F68;
$clr-text:#2F2B2C;